body {
  background: url('./images/background.png') no-repeat fixed;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 90px 60px 20px 100px;
}

.split {
  display: flex;
  margin-bottom: 50px;
}

/* Heading section */
.heading {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.logo {
  width: 110px;
  height: 80px;
  transform: scale(1.5);
  margin-right: 20px;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.college-title {
  font-size: 18px;
}

/* Content section */
.container {
  width: 50%;
}

.row {
  display: flex;
  flex-direction: column;
}

.task-heading {
  font-size: 28px;
  font-weight: 600;
}


.task-list {
  display: flex;
  align-items: center;
}

.task-item {
  font-size: 22px;
  color: #aaa;
}

.task-in-progress {
  color: #fff;
  font-weight: 600;
}

.task-coming-soon {
  color: #eee;
}

.mobile-completed,
.mobile-in-progress,
.mobile-coming-soon {
  display: none;
}

.left {
  display: flex;
  flex: 1;
  text-align: left;
  align-items: center;
}

.right {
  text-align: left;
  font-size: 18px;
}

.tick {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.bar {
  width: 1px;
  height: 60px;
  background: #fff;
  margin-right: 20px;
}

.completed {
  color: #999;
}

.in-progress {
  color: #eee;
  font-weight: 600;
}

.coming-soon {
  color: #aaa;
}

.tasks {
  width: 90%;
}

.lead-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead-image {
  width: 450px;
}

/* Footer section */
.footer-text {
  font-size: 28px;
  font-weight: 600;
  width: 50%;
}

.inner-footer {
  display: flex;
  align-items: center;
}

/* Resopnsive */

@media screen and (max-width: 768px) {
  body {
    background-position: right;
    padding: 40px 20px 0 20px;
  }

  .heading {
    margin-bottom: 40px;
  }

  .logo {
    width: 40px;
    height: 30px;
  }

  .title {
    font-size: 15px;
  }

  .college-title {
    font-size: 12px;
    font-weight: 200;
  }

  .split {
    margin: unset;
  }

  .lottie-animation {
    width: 100%;
    height: 140px;
  }

  .container {
    width: 100%;
  }

  .task-item {
    font-size: 18px;
  }

  .bar {
    height: 75px;
  }

  .right {
    display: none;
  }

  .lead-image-container {
    display: none;
  }

  .inner-footer {
    flex-direction: column-reverse;
  }

  .footer-text {
    font-size: 26px;
    width: unset;
  }

  .mobile-completed {
    color: #999;
  }

  .mobile-in-progress {
    color: #eee;
    font-weight: 600;
  }

  .mobile-coming-soon {
    color: #aaa;
  }


  .mobile-completed,
  .mobile-in-progress,
  .mobile-coming-soon,
  .task-item {
    display: inline;
  }

  .mobile-completed,
  .mobile-in-progress,
  .mobile-coming-soon {
    font-size: 12px;
  }

  .task-container {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 1200px) {
  .lead-image-container {
    display: none;
  }

  .container {
    width: 100%;
  }
}